In [ ]:
import pandas as pd
df_municipis = pd.read_excel('/content/idescat_data.xls', sheet_name='municipis')
df_ist = pd.read_excel('/content/idescat_data.xls', sheet_name='IST')
df_densitat = pd.read_excel('/content/idescat_data.xls', sheet_name='densitat')

In [ ]:
df_municipis.shape

(947, 4)

In [ ]:
df_ist.shape

(211, 2)

In [ ]:
df_densitat.shape

(947, 4)

In [ ]:
df = df_municipis.merge(df_densitat, how='left', on='Codi')
df['densitat(habitants/km2)'] = round(df['Població'] / df['Superfície(km2)'],2)
df.head()

     Codi                 Nom  ...  Població densitat(habitants/km2)
0  250019  Abella de la Conca  ...       183                    2.34
1   80018              Abrera  ...     12538                  628.79
2  250024                Àger  ...       580                    3.61
3  250030            Agramunt  ...      5411                   67.93
4   80023  Aguilar de Segarra  ...       282                    6.51

[5 rows x 8 columns]

In [ ]:
df.shape

(947, 8)

In [ ]:
df = df.merge(df_ist, how='left', on='Codi')
df.head()

     Codi  ... Índex socioeconòmic territorial
0  250019  ...                             NaN
1   80018  ...                           104.1
2  250024  ...                             NaN
3  250030  ...                            93.2
4   80023  ...                             NaN

[5 rows x 9 columns]

In [ ]:
df.columns

Index(['Codi', 'Nom', 'Codi comarca', 'Nom comarca', 'Altitud(m)',
       'Superfície(km2)', 'Població', 'densitat(habitants/km2)',
       'Índex socioeconòmic territorial'],
      dtype='object')

In [ ]:
df_ist_missing = pd.read_excel('/content/ist_comarques.xls')
df_ist_missing.head(3)

   Codi      Literal  Índex socioeconòmic territorial
0     1     Alt Camp                             95.0
1     2  Alt Empordà                             84.2
2     3  Alt Penedès                            100.0

In [ ]:
df.loc[df['Índex socioeconòmic territorial'].isnull(),'IST_idescat'] = 0
df.loc[~df['Índex socioeconòmic territorial'].isnull(),'IST_idescat'] = 1
df.head(3)

     Codi                 Nom  ...  Índex socioeconòmic territorial IST_idescat
0  250019  Abella de la Conca  ...                              NaN         0.0
1   80018              Abrera  ...                            104.1         1.0
2  250024                Àger  ...                              NaN         0.0

[3 rows x 10 columns]

In [ ]:
df_missing =  df.loc[df['Índex socioeconòmic territorial'].isnull()] 
df_complete = df.loc[~df['Índex socioeconòmic territorial'].isnull()]

In [ ]:
df_missing = df_missing.merge(df_ist_missing, how='left', left_on='Codi comarca', right_on='Codi', suffixes=('', '_y'))
df_missing.drop(['Índex socioeconòmic territorial','Codi_y', 'Literal'], axis=1, inplace=True)
df_missing.rename({'Índex socioeconòmic territorial_y': 'Índex socioeconòmic territorial'}, axis=1, inplace=True)
df_missing

       Codi                 Nom  ...  IST_idescat Índex socioeconòmic territorial
0    250019  Abella de la Conca  ...          0.0                            96.0
1    250024                Àger  ...          0.0                            89.4
2     80023  Aguilar de Segarra  ...          0.0                            97.0
3    170010            Agullana  ...          0.0                            84.2
4     80142          Aiguafreda  ...          0.0                           101.5
..      ...                 ...  ...          ...                             ...
731  252555             Vinaixa  ...          0.0                            90.9
732  431779             Vinebre  ...          0.0                            93.2
733  431785  Vinyols i els Arcs  ...          0.0                            94.5
734   83089   Viver i Serrateix  ...          0.0                            99.9
735  430521               Xerta  ...          0.0                            86.4

[736 rows x 10 columns]

In [80]:
df = pd.concat([df_missing, df_complete])
df.sort_values(by='Codi comarca', inplace=True)
df.reset_index(inplace=True, drop=True)
df.head()

     Codi                     Nom  ...  IST_idescat Índex socioeconòmic territorial
0  430666          Garidells, els  ...          0.0                            95.0
1  431191               Puigpelat  ...          0.0                            95.0
2  430108                    Alió  ...          0.0                            95.0
3  431135    Pont d'Armentera, el  ...          0.0                            95.0
4  431080  Pla de Santa Maria, el  ...          0.0                            95.0

[5 rows x 10 columns]

In [81]:
def format_municipality_name(mun):
  try: 
    mun = f"{mun.split(',')[1]} {mun.split(',')[0]}".title()
    return mun
  except:
    return mun

df.rename({"Nom": "Nom_idescat"}, axis=1, inplace=True)
df['Nom'] = df['Nom_idescat'].apply(format_municipality_name)
df['Nom']

0               Els Garidells
1                   Puigpelat
2                        Alió
3         El Pont D'Armentera
4       El Pla De Santa Maria
                ...
942         Santa Maria d'Oló
943             Castellterçol
944                Castellcir
945                   Calders
946                   Granera
Name: Nom, Length: 947, dtype: object

In [86]:
import requests

In [125]:
def geocode(address):
  # google maps api key - add yours
  key = "AIzaSyAaxaSHVU6tkmmHQtPuM5ATX2USh6YqYcs"
  response = requests.get(f'https://maps.googleapis.com/maps/api/geocode/json?address={address}&region=es&key={key}')
  try:
    location = response.json()['results'][0]['geometry']['location']
    return location
  except:
    return None

In [126]:
# geocoding is the process of converting adresses into geographical coordinates
# idescat information is only at county (comarca) level
# osm map does not contain this information for most municipalities 
# google maps data quality is high but comes at a cost of 5.00 USD per 1000 requests
# So, we expect to be charged around ~5.00 USD for 9.45 municipalities + test queries
df['address'] = df.apply(lambda x: f"{x['Nom']}, {x['Codi']}, Catalonia, Spain", axis=1)

In [127]:
df['location'] = df['address'].apply(geocode)

In [133]:
def extract_coordinate(loc, coord):
  try:
    return loc[coord]
  except:
    return None

df['lat'] = df['location'].apply(lambda loc: extract_coordinate(loc, 'lat'))
df['lng'] = df['location'].apply(lambda loc: extract_coordinate(loc,'lng'))

In [134]:
df.head(3)

     Codi     Nom_idescat  ...        lat       lng
0  430666  Garidells, els  ...  41.207455  1.247546
1  431191       Puigpelat  ...  41.277958  1.298133
2  430108            Alió  ...  41.298596  1.303551

[3 rows x 15 columns]

In [137]:
df['lat'].isnull().sum()

1

In [142]:
# saus camallera i llampaies (manualment de google maps)
df.loc[df['lat'].isnull(),'lat'] = 42.12032114984852
df.loc[df['lng'].isnull(), 'lng'] = 2.966948983831523

In [145]:
df.drop(['address', 'location'], axis=1, inplace=True)

In [146]:
df.to_csv('idescat_data_final.csv', index=False)