In [1]:
import pandas as pd
from tqdm import tqdm
df = pd.read_csv("/content/farmacies.csv", dtype={'CP': object})
df = df.applymap(lambda s: s.lower().capitalize() if type(s) == str else s)
df.head(3)

   Codi farm    Oficina de farmàcia  ...                ABS    Telèfon
0  F08000025  Canal calveras. marta  ...  128 baix berguedà  938290385
1  F08000032    Abril garcia. maria  ...    9 arenys de mar  937923301
2  F08000040  Rigola garrofe. dolça  ...    9 arenys de mar  937920237

[3 rows x 9 columns]

In [2]:
df.shape[0]

3257

In [3]:
df['Tipus via'].unique()

array(['Cr', 'Ri', 'Pl', 'Rb', 'Ct', 'Av', 'Ps', 'Vi', 'Rv', 'Gv', 'Ts',
       'Rd', 'Bx', 'Pg', 'Mo', 'Cm', 'To', 'Tr', 'Gr', 'Ll', 'Pj', 'Bl'],
      dtype=object)

In [4]:
df['Tipus via'] = df['Tipus via'].map({'Cr': 'Carrer', 'Ri':'Riera', 'Pl': 'Plaça', 'Rb': 'Rambla', 'Ct': 'Carretera',
                                       'Av': 'Avinguda', 'Vi': 'Via', 'Gv': 'Gran Via', 'Ts': 'Travessera', 'Rd': 'Ronda',
                                       'Bx': 'Baixos', 'Pg': 'Passeig', 'Mo': '', 'Cm': 'Camí', 'To': '', 'Tr': 'Torrent', 'Gr': 'Grup', 'Ll': '',
                                       'Pj': 'Pujada', 'Bl':''})
df.head(3)

   Codi farm    Oficina de farmàcia  ...                ABS    Telèfon
0  F08000025  Canal calveras. marta  ...  128 baix berguedà  938290385
1  F08000032    Abril garcia. maria  ...    9 arenys de mar  937923301
2  F08000040  Rigola garrofe. dolça  ...    9 arenys de mar  937920237

[3 rows x 9 columns]

In [5]:
df_idescat = pd.read_csv("/content/idescat_data_final.csv", dtype={'Codi': object})
df_idescat = df_idescat[['Nom comarca', 'Codi', 'Nom']]
df_idescat.head(2)

  Nom comarca    Codi             Nom
0    Alt Camp  430666   Els Garidells
1    Alt Camp  431191       Puigpelat

In [6]:
df_provincia = pd.read_csv('/content/comarca_provincia.csv')
df_provincia.head(2)

       comarca  província
0     Alt Camp  Tarragona
1  Alt Empordà     Girona

In [7]:
df_idescat = df_idescat.merge(df_provincia, how='left', left_on='Nom comarca', right_on='comarca')
df_idescat.drop(labels=['comarca'], axis=1, inplace=True)
df_idescat.head(2)

  Nom comarca    Codi             Nom  província
0    Alt Camp  430666   Els Garidells  Tarragona
1    Alt Camp  431191       Puigpelat  Tarragona

In [8]:
!pip install fuzzymatcher

Requirement already satisfied: fuzzymatcher in /usr/local/lib/python3.7/dist-packages (0.0.5)
Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.7/dist-packages (from fuzzymatcher) (0.18.0)
Requirement already satisfied: metaphone in /usr/local/lib/python3.7/dist-packages (from fuzzymatcher) (0.6)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from fuzzymatcher) (2.8.2)
Requirement already satisfied: python-Levenshtein in /usr/local/lib/python3.7/dist-packages (from fuzzymatcher) (0.12.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fuzzymatcher) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->fuzzymatcher) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->fuzzymatcher) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->fuzzymatcher) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from python-Levenshtein->fuzzymatcher) (57.4.0)

In [9]:
import fuzzymatcher

In [10]:
matched_results = fuzzymatcher.fuzzy_left_join(df, df_idescat, left_on = "Municipi", right_on = "Nom")

In [11]:
matched_results.sort_values(by=['best_match_score'], ascending=False).head(2)

      best_match_score  __id_left  ...                            Nom província
2817          1.085078  2750_left  ...  Gimenells i el Pla de la Font    Lleida
2648          0.983806  2598_left  ...  Sant Julià del Llor i Bonmatí    Girona

[2 rows x 16 columns]

In [12]:
matched_results.sort_values(by=['best_match_score'], ascending=False).tail(2)

      best_match_score  __id_left __id_right  ...    Codi   Nom  província
1255          0.139512  1237_left  495_right  ...   82819  Teià  Barcelona
2820          0.129778  2753_left  870_right  ...  251214   Les     Lleida

[2 rows x 16 columns]

In [13]:
matched_results.drop(labels=['best_match_score', '__id_left', '__id_right', 'Municipi', 'Codi'], axis=1, inplace=True)

In [14]:
matched_results.head(3)

   Codi farm    Oficina de farmàcia  ...            Nom  província
0  F08000025  Canal calveras. marta  ...      Puig-reig  Barcelona
1  F08000032    Abril garcia. maria  ...  Arenys de Mar  Barcelona
2  F08000040  Rigola garrofe. dolça  ...  Arenys de Mar  Barcelona

[3 rows x 11 columns]

In [15]:
from geopy.geocoders import GoogleV3
geolocator = GoogleV3(api_key="AIzaSyDEzRfH6vsA5diDYg0EKXxnZ9Txb2mzg0s")

In [16]:
matched_results['geocode_input'] = matched_results['Tipus via'] + " " + matched_results['Nom via'] + ", " + matched_results['Núm. Via'] + ", " + matched_results['CP'] + ", " +  matched_results['Nom'] + ", " +  matched_results['província'] + ', Spain'
matched_results.head(2)

   Codi farm  ...                                      geocode_input
0  F08000025  ...  Carrer Sant jordi, 11, 08692, Puig-reig, Barce...
1  F08000032  ...  Riera Bisbe pol, 72, 08350, Arenys de Mar, Bar...

[2 rows x 12 columns]

In [17]:
for index, row in tqdm(matched_results.iterrows()):
  try: 
    address, (lat, lng) = geolocator.geocode(row['geocode_input'])
    matched_results.loc[index, "address"] = address
    matched_results.loc[index, "lat"] = lat
    matched_results.loc[index, "lng"] = lng
  except:
    print(index, row['geocode_input'])
matched_results

1986it [10:30,  7.24it/s]

2013 Carretera Masnou a granollers, 30, 08328, Alella, Barcelona, Spain

2613it [13:29,  2.31it/s]

2662 Carretera Nacional 152 km 169.71- ctra.vilallobent, 4, 17520, Puigcerdà, Girona, Spain

3257it [17:08,  3.17it/s]

      Codi farm     Oficina de farmàcia  ...        lat        lng
0     F08000025   Canal calveras. marta  ...  41.975197   1.877458
1     F08000032     Abril garcia. maria  ...  41.580927   2.550305
2     F08000040   Rigola garrofe. dolça  ...  41.580732   2.549507
3     F08000057    Mias navarro. mireia  ...  41.609544   2.540822
4     F08000064  Guillen vidal. m nuria  ...  41.554711   2.401585
...         ...                     ...  ...        ...        ...
3565  F43711170      Janës casals maria  ...  36.127071 -79.860718
3566  F43718867       Díaz martí. maría  ...  41.066770   1.068089
3567  F43718874   Martínez navas. marta  ...  41.196490   1.634995
3568  F43721965     Gas aixendrí carlos  ...  41.219118   1.538101
3569  F43724606     Martï piquer helena  ...  41.210987   1.139781

[3257 rows x 15 columns]

In [19]:
matched_results.head(3)

   Codi farm    Oficina de farmàcia  ...        lat       lng
0  F08000025  Canal calveras. marta  ...  41.975197  1.877458
1  F08000032    Abril garcia. maria  ...  41.580927  2.550305
2  F08000040  Rigola garrofe. dolça  ...  41.580732  2.549507

[3 rows x 15 columns]

In [20]:
matched_results.to_csv('farmacies_catalunya.csv', index=False)